button{
    cursor: pointer;
}


/* Add to Cart Button */
.add-to-cart-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    transition: transform 0.2s;
}

.add-to-cart-btn:hover {
    transform: translateY(-2px);
}

.btn-large-color1 {
    background-color: var(--color-1);
    color: var(--color-3);
    height: 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-large-color1:hover {
    background-color: var(--color-2);
    color: var(--color-1);

}


.btn-large-color2{
    background-color: var(--color-2);
    color: var(--color-1);
    height: 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-large-color5{
    background-color: var(--color-5);
    color: var(--color-3);
    height: 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-button {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-1);
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    width: 100%;
}


.tab-button.active {
    color: var(--color-1);
    border-bottom-color: var(--color-1);
}

.button-remove, .button-close{
    background: none;
    border: none;

    min-width: 50px;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: ease-in-out 0.01s;
}

.button-remove:hover{
    background-color: var(--color-2);
}
