

.cart-items{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-2);
    width: 100%;
}

.cart-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.item-image img{
    width: 80px;
    height: 80px;
}

.cart-summary{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.item-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.button-close{
    background-color: var(--color-2);
}

.button-close img{
    width: 20px;
    height: 20px;
}

.card-body{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.empty-cart{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.checkout-layout{
    margin-top: 80px !important;
    display: flex;
    flex-direction: row;
}

.checkout-form{
    padding: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

input{
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-2);
    background-color: var(--color-3);
    padding: 5px 10px;
}

textarea{
    padding: 10px;
    display: flex;
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--color-2);
    background-color: var(--color-3);
}

.order-summary{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-summary span{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.summary-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-2);
}

.delivery-info{
    padding: 20px;
    background-color: var(--color-4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery-info ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media screen  and (max-width: 800px) {
    .card-body{
        flex-direction: column;
    }

    .checkout-layout{
        flex-direction: column;
    }
    
}