:root{
    

    --color-1: #000;
    --color-2: #cdcdcd;
    --color-3: #fff;
    --color-4: rgb(250, 250, 250);
    --color-5: #e74c3c;
    --color-6:#edff21;
}

.color-1{
    color: var(--color-1);
}

.color-2{
    color: var(--color-2);
}

.color-3{
    color: var(--color-3);
}