<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Керамические пиалы{% endblock %}</title>

    <!--CSS-->
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/typo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!--JS-->
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    
    <!-- Аналитика -->

</head>
<body>

    <!--HEADER-->
    <header>

        <nav>


            <div class="nav-brand">
                <a href="{{ url_for('public.home') }}">TEA CUP</a>
            </div>

            <div class="nav-links">
                <a href="{{ url_for('public.catalog') }}"><h3>ПИАЛКИ</h3></a>
                <a href="{{ url_for('public.catalog') }}"><h3>ЧАШКИ</h3></a>
                <a href="{{ url_for('public.catalog') }}"><h3>ЧАЙНИКИ</h3></a>

                
            </div>

            <a href="{{ url_for('public.cart') }}" class="cart-link">
                    Корзина <span id="cart-count">(0)</span>
            </a>
        </nav>
    </header>

    <main class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>


    <!--FOOTER-->
    <footer class="footer">
        
        <!--Catalog-->
        <span class="column">
            <a href=""><p>ПИАЛКИ</p></a>
            <a href=""><p>ЧАШКИ</p></a> 
            <a href=""><p>ЧАЙНИКИ</p></a>
        </span>
        
        <!--How-to-->
        <span class="column">
            <a href=""><p>ДОСТАВКА И ОПЛАТА</p></a>
            <a href=""><p>ГАРАНТИИ</p></a> 
            <a href=""><p>ВОЗВРАТ</p></a>
            <a href=""><p>FAQ</p></a>
        </span>

        <!--C-->
        <span class="column">
            <a href=""><p>О НАС</p></a>
            <a href=""><p>КОНТАКТЫ</p></a> 
        </span>
    </footer>

    <script>
        // Обновление счетчика корзины при загрузке страницы
        document.addEventListener('DOMContentLoaded', function() {
            updateCartCounter();
        });
    </script>
</body>
</html>